.app.light {
  --bg-color: #dbdbe3;
  --inverted-bg-color: #000051;
  --primary-color: #0d3e9b;
  --secondary-color: #3a62f3;
  --inverted-primary-color: #258300;
  --inverted-secondary-color: #7dfd40;
}
